<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Sakanak | Add Listing</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    
    <!-- Font awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">   
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="css/nouislider.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen" /> 
    <!-- Theme color -->
    <link id="switcher" href="css/theme-color/default-theme.css" rel="stylesheet">     

    <!-- Main style sheet -->
    <link href="css/style.css" rel="stylesheet">    

   
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    

    
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&libraries=places"></script>
    <script>
      // Initialize Google Maps
      function initMap() {
        const defaultLocation={lat : 31.9539 , lng: 35.9106};
        const mapOptions = {
          center: { lat: 31.9539, lng: 35.9106 }, // Set initial map center
          zoom: 10 // Set initial zoom level
        };
  
        const map = new google.maps.Map(document.getElementById('map'), mapOptions);
  
        // Create a marker when the user selects a location
        const marker = new google.maps.Marker({
          map: map,
          draggable: true, // Allow the user to drag the marker to select the location
          position: defaultLocation
        });
  
        // Update the marker position when it is dragged
        google.maps.event.addListener(marker, 'dragend', function(event) {
          const newLocation = event.latLng;
          document.getElementById('latitude').value = event.latLng.lat();
          document.getElementById('longitude').value = event.latLng.lng();
        });
  
        // Autocomplete functionality for the address input field
        const autocomplete = new google.maps.places.Autocomplete(document.getElementById('location-search'));
  
        // Update the map and marker when the user selects an address from autocomplete
        autocomplete.addListener('place_changed', function() {
          const place = autocomplete.getPlace();
          if (place.geometry && place.geometry.location) {
            map.setCenter(place.geometry.location);
            marker.setPosition(place.geometry.location);
            document.getElementById('latitude').value = place.geometry.location.lat();
            document.getElementById('longitude').value = place.geometry.location.lng();
          }
        });
      }
      document.addEventListener('DOMContentLoaded', function() {
        initMap();
      });
    </script>
    <style>
      #map {
        width: 100%;
        height: 400px;
      }
    </style>
  

  </head>
  <body>
  <!-- Pre Loader -->
  <div id="aa-preloader-area">
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->


  <!-- Start header section -->
  <header id="aa-header">  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-area">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-left">
                  <div class="aa-telephone-no">
                    <span class="fa fa-phone"></span>
                   0772645665
                  </div>
                  <div class="aa-email hidden-xs">
                    <span class="fa fa-envelope-o"></span>sakanak123@gmail.com
                  </div>
                </div>              
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="aa-header-right">
                  <% if (!isAuthenticated) { %>
                    <a href="signin.html" class="aa-register">Login</a>
                    <a href="register.html" class="aa-login">Register</a>
                  <% } %>
                  <button id="logoutBtn" onclick="logout()">Logout</button>
                  <!-- <a href="register.html" class="aa-register">Register</a>
                  <a href="signin.html" class="aa-login">Login</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End header section -->
  <!-- Start menu section -->
  <section id="aa-menu-area">
    <nav class="navbar navbar-default main-navbar" role="navigation">  
      <div class="container">
        <div class="navbar-header">
          <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- LOGO -->                                               
          <!-- Text based logo -->
          <a class="navbar-brand aa-logo" href="/index"><span>SAKANAK</span></a>
          <!-- Image based logo -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right aa-main-nav">
            <li><a href="/index">HOME</a></li>
             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="/properties">PROPERTIES <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="/properties">PROPERTIES</a></li>
                <li><a href="/MyProperties">MY PROPERTIES</a></li>                                           
              </ul>
            </li>
            <li><a href="/Roommates">ROOMMATES</a></li>           
            <li><a href="/Support">CONTACT US</a></li>
            <li class="active"><a href="/AddListing">ADD LISTING</a></li> 
            <li><a href="/MyProfile">MY PROFILE</a></li>       
            

        </div><!--/.nav-collapse -->       
      </div>          
    </nav> 
  </section>
  <!-- End menu section -->

  <!-- Start Proerty header  -->
  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>ADD LISTING</h2>
            <ol class="breadcrumb">
            <li><a href="#">HOME</a></li>            
            <li class="active">ADD LISTING</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <section id="aa-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            
             <div class="aa-contact-bottom">
               <div class="aa-title">
                 <h2>FILL IN PROPERTIES INFORMATION</h2>
                 <span></span>
               </div>
               <div class="containerr">
                <div class="form-wrapper">
                  <form method="POST" action="/AddListing" enctype="multipart/form-data">
                    <div class="form-group ">
                      <label for="Title">Title</label>
                      <input required type="text" class="form-control" id="Title" name="title" placeholder="Title">
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="Category">Category</label>
                        <input required type="text" class="form-control" id="Category" name = "category" placeholder="studio, duplex, apartment">
                      </div>

                      <div class="form-group col-md-6">
                        <label for="Area">Neighbourhood</label>
                        <input required type="text" class="form-control" id="Area" name="neighbourhood" placeholder="Neighbourhood">
                      </div>
                      </div>

                    <div class="form-group">
                      <label for="Price">Price</label>
                      <input required type="number" class="form-control" id="Price" name="price" placeholder="Enter price">
                    </div>

                    <div class="form-group">
                      <label for="description">Description</label><br>
                      <textarea required style="width: 100%;" id="description" name="description" rows="3"></textarea><br><br>
                    </div>         

                    <div class="form-grou">
                    <label for="Location">Location</label>
                    <input type="text" id="location-search" name="location" placeholder="Search for a location">
                    <input type="hidden" id="latitude" name="latitude">
                    <input type="hidden" id="longitude" name="longitude"> 
                    <div id="map"></div>
                      </div>
                      
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="Rooms">Rooms</label>
                          <input type="number" class="form-control" id="Rooms" name="rooms" placeholder="Enter number of rooms">
                        </div>
  
                        <div class="form-group col-md-6">
                          <label for="Beds">Beds</label>
                          <input type="number" class="form-control" id="Beds" name="beds" placeholder="Enter number of beds">
                        </div>

                        <div class="form-group col-md-6">
                          <label for="Bathrooms">Bathrooms</label>
                          <input type="number" class="form-control" id="Bathroom" name="bathrooms" placeholder="Enter number of bathrooms">
                        </div>
  
                        <div class="form-group col-md-6">
                          <label for="Kitchens">Kitchens</label>
                          <input type="number" class="form-control" id="Kitchens" name="kitchens" placeholder="Enter number of Kitchens">
                        </div>

                        
                        
                      </div>

                      <div class="form-group">
                        <label for="Area">Area M<sup>2</sup></label>
                        <input type="number" class="form-control" id="Area" name="area" placeholder="Enter Area">
                      </div>
                    <div>
                      <label class="form-label" for="customFile">Upload photos here</label>
                      <input type="file" class="form-control" id="customFile" name="image" />
                    </div>  
                    
                     <br>            
                    <p class="form-submit">
                      <input type="submit" name="submit" class="aa-browse-btn" value="Add Listing">
                    </p>  
                  
                    
                    

                  </div>

                    
                  </form>
                </div>
              </div>
              
             </div>
           </div>
        </div>
      </div>
    </div>
  </section>




  <!-- Footer -->
  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p><a rel="nofollow" href="index.ejs">SAKANAK</a></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="/index">Home</a>
                <a href="/support">Contact Us</a>
                <a href="#">License</a>
                <a href="#">FAQ</a>
                <a href="#">Privacy & Term</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <!-- jQuery library -->
  <script src="js/jquery.min.js"></script>   
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.js"></script>   
  <!-- slick slider -->
  <script type="text/javascript" src="js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="js/nouislider.js"></script>
   <!-- mixit slider -->
  <script type="text/javascript" src="js/jquery.mixitup.js"></script>
  <!-- Add fancyBox -->        
  <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
  <!-- Custom js -->
  <script src="js/custom.js"></script> 
    <script>
    document.getElementById('logoutBtn').addEventListener('click', function() {
      // Display confirmation dialog
      var confirmLogout = confirm('Are you sure you want to logout?');
  
      // If user confirms logout, send a POST request to the logout endpoint
      if (confirmLogout) {
        fetch('/logout', { method: 'POST' })
          .then(function(response) {
            if (response.ok) {
              // Redirect to the login page or handle success as needed
              window.location.href = '/signin.html';
            } else {
              // Handle error
              console.log('Logout failed.');
            }
          })
          .catch(function(error) {
            // Handle error
            console.log('Logout failed: ' + error.message);
          });
      }
    });
  </script>
  </body>
</html>